<template>
  <div class="requirement-rating">
    <p v-if="title"><strong>{{ title }}:</strong></p>
    <div class="requirement-rating-icons">
      <i v-for="index in 5" :key="index" class="icon icon-wanderer-large"></i>
    </div>
    <div class="requirement-rating-icons-overlay">
      <i v-for="index in parseInt(rating)" :key="index" class="icon icon-wanderer-large"></i>
    </div>
  </div>
</template>

<script>
export default {
  name: "RequirementRating",
  props: {
    title: String,
    rating: String,
  },
  data: function () {
    return {

    }
  }
}
</script>
