<template>
  <figure v-lazyload class="responsive-image-wrapper" :style="figureStyle">
    <img :class="imgClass"
         :data-src="src"
         :data-srcset="srcset"
         :sizes="sizes"
         :title="title"
         :width="width"
         :height="height"
         :alt="alt"/>
  </figure>
</template>

<script>
import LazyLoadDirective from '@src/directives/lazy-load-directive';

export default {
  name: "ResponsiveImage",
  props: {
    src: String,
    srcXs: String,
    srcSm: String,
    srcMd: String,
    srcLg: String,
    srcXl: String,
    fixedAspectRatio: {type: Boolean, default: true},
    alt: String,
    title: String,
    imgClass: String,
    placeholder: String
  },
  directives: {
    lazyload: LazyLoadDirective
  },
  data: function () {
    return {
      value: null,
      currentBreakpoint: 'xs',
      srcset: '',
      sizes: '',
      aspectRatio: null,
      height: null,
      width: null,
      breakpoints: {
        xl: 1600,
        lg: 1200,
        md: 992,
        sm: 768,
        xs: 0
      }
    }
  },
  methods: {
    extractWidth: function( path ) {
      var regex = new RegExp(/(\d+)x(\d+)/g);
      var matches = regex.exec(path);
      return parseInt(matches[1]);
    },
    extractHeight: function( path ) {
      var regex = new RegExp(/(\d+)x(\d+)/g);
      var matches = regex.exec(path);
      return parseInt(matches[2]);
    },
    determineBreakpoint: function() {
      var w = window.innerWidth;
      for (const [key, value] of Object.entries(this.breakpoints)) {
        if(w >= value){
          this.currentBreakpoint = key;
          var srcKey = 'src' + key.charAt(0).toUpperCase() + key.slice(1);
          if(this[srcKey]){
            this.currentSrc = this[srcKey];
            if(this.fixedAspectRatio === undefined || this.fixedAspectRatio === true){
              this.height = this.extractHeight(this[srcKey]);
              this.width = this.extractWidth(this[srcKey]);
            }
          }
          return key
        }
      }
    },
    processVariations: function() {
      var srcset = [];
      var sizes = [];
      for (const [key, value] of Object.entries(this.breakpoints)) {
        var srcKey = 'src' + key.charAt(0).toUpperCase() + key.slice(1);
        if(this[srcKey]){
          srcset.push(this[srcKey] + ' ' + this.extractWidth(this[srcKey]) + 'w');
          if(value > 0){
            sizes.push('(min-width: '+ value +'px) '+this.extractWidth(this[srcKey])+'px');
          } else {
            sizes.push('100vw');
          }
          if(!this.src){
            this.src = this[srcKey]
          }
          if(!this.aspectRatio){
            this.aspectRatio = this.extractWidth(this[srcKey]) / this.extractHeight(this[srcKey]);
          }
        }
      }
      if(srcset.length > 0)this.srcset = srcset.reverse().join(', ')
      if(sizes.length > 0)this.sizes = sizes.join(', ')
    }
  },
  beforeMount(){
    this.processVariations();
    this.determineBreakpoint();
  },
  mounted() {

  },
  created() {
    window.addEventListener("resize", this.determineBreakpoint);
  },
  destroyed() {
    window.removeEventListener("resize", this.determineBreakpoint);
  },
  computed: {
    figureStyle:function(){
      if(this.height && this.width){
        return 'height:'+this.height+'px;';
      } else {
        return '';
      }
    }
  }
}
</script>
