<script>
import moment from "moment";

export default {
  props: ['date', 'flights'],
  filters: {
    toDateString: function (value) {
      return moment(value).format('dd DD.MM.YYYY')
    }
  },
  computed: {
    flight: function(){
      var currentDay = moment(this.$props.date).format('DD.MM.YY');
      return this.$props.flights.find(function(f){
        var flightDay = moment(f.abflug).format('DD.MM.YY');
        return (flightDay === currentDay)
      });
    }
  },
  mounted: function() {

  }
}
</script>

<template>
  <div v-if="flight">
    <p>{{ flight.abflug | toDateString }}</p>
    <p>{{ flight.bezeichnung }} ({{flight.von}} - {{flight.nach}})</p>
  </div>
</template>

<style lang="scss" module>
@import '@design';
</style>
