<script>
import moment from "moment";

export default {
  props: ['date', 'booking'],
  filters: {
    toDateString: function (value) {
      return moment(value).format('dd DD.MM.YYYY')
    }
  },
  methods: {
    getIndex: function( object, array ){
      return array.indexOf(object);
    }
  },
  computed: {
    flug: function(){
      var currentDay = moment(this.$props.date).format('DD.MM.YY');
      return this.$props.booking.fluege.find(function(element){
        var Day = moment(element.abflug).format('DD.MM.YY');
        return (Day === currentDay)
      });
    },
    bus: function(){
      var currentDay = moment(this.$props.date).format('DD.MM.YY');
      return this.$props.booking.busse.find(function(element){
        var Day = moment(element.abfahrt).format('DD.MM.YY');
        return (Day === currentDay)
      });
    },
    schiff: function(){
      var currentDay = moment(this.$props.date).format('DD.MM.YY');
      return this.$props.booking.schiffe.find(function(element){
        var Day = moment(element.abfahrt).format('DD.MM.YY');
        return (Day === currentDay)
      });
    },
    zug: function(){
      var currentDay = moment(this.$props.date).format('DD.MM.YY');
      return this.$props.booking.zuege.find(function(element){
        var Day = moment(element.abfahrt).format('DD.MM.YY');
        return (Day === currentDay)
      });
    },
    hotel: function(){
      var currentDay = moment(this.$props.date).format('DD.MM.YY');
      return this.$props.booking.hotels.find(function(element){
        var Von = moment(element.von).format('DD.MM.YY');
        var Bis = moment(element.bis).format('DD.MM.YY');
        if(currentDay >= Von && currentDay < Bis) return true;
        return false;
      });
    }
  },
  mounted: function() {

  }
}
</script>

<template>
  <div>
    <BaseButton v-if="flug" class="btn-default" @click="$router.push('/flight/' + getIndex(flug, $props.booking.fluege))"><i class="icon icon-flight"></i></BaseButton>
    <BaseButton v-if="bus" class="btn-default" @click="$router.push('/bus/' + getIndex(bus, $props.booking.busse))"><i class="icon icon-bus"></i></BaseButton>
    <BaseButton v-if="schiff" class="btn-default" @click="$router.push('/ship/' + getIndex(schiff, $props.booking.schiffe))"><i class="icon icon-ship"></i></BaseButton>
    <BaseButton v-if="zug" class="btn-default" @click="$router.push('/train/' + getIndex(zug, $props.booking.zuege))"><i class="icon icon-train"></i></BaseButton>
    <BaseButton v-if="hotel" class="btn-default" @click="$router.push('/hotel/' + getIndex(hotel, $props.booking.hotels))"><i class="icon icon-hotel"></i></BaseButton>
  </div>
</template>

<style lang="scss" module>
@import '@design';
</style>
