<script>
import Layout from '@layouts/main.vue'
import moment from "moment";

export default {
  page: {
    title: 'Flight',
    meta: [{ name: 'description', content: 'The Flight page.' }],
  },
  components: { Layout },
  filters: {
    toDateString: function (value) {
      return moment(value).format('dd DD.MM.YYYY')
    }
  },
  computed: {
    flug: function() {
      return this.$parent.buchung.fluege[this.$route.params.index];
    }
  }
}
</script>

<template>
  <Layout>
    <div class="header-icon-wrapper">
      <i class="icon icon-flight large header-icon"></i>
    </div>

    <p class="text-center"><b>{{ flug.abflug | toDateString }}</b></p>

    <p><b>{{ flug.bezeichnung }}</b><br/>
    Buchungsreferenz: {{ flug.buchungsreferenz }}</p>


    <div class="row">
      <div class="col-6 text-center">
        <p class="text-center">{{ flug.von }}</p>
        <i class="icon icon-flight-start"></i>
        <p>{{ moment(flug.abflug).format('HH:mm')}}</p>
      </div>
      <div class="col-6 text-center">
        <p class="text-center">{{ flug.nach }}</p>
        <i class="icon icon-flight-land"></i>
        <p>{{ moment(flug.ankunft).format('HH:mm')}}</p>
      </div>
    </div>

    <table class="table table-clear">
      <tbody>
        <tr>
          <th> Airline: </th>
          <td>{{ flug.airline }}</td>
        </tr><tr>
          <th> Flug: </th>
          <td>{{ flug.flugnummer }}</td>
        </tr>
        <tr>
          <th> Klasse: </th>
          <td>{{ flug.klasse }}</td>
        </tr>
        <tr>
          <th> Gepäck: </th>
          <td>{{ flug.gepaeck }}</td>
        </tr>
      </tbody>
    </table>

    <p v-html="flug.checkininfos"></p>

    <p v-html="flug.weitereinfos"></p>

    <nav class="navbar fixed-bottom navbar-light bg-light">
      <div class="container-fluid">
        <BaseButton class="btn-default btn-lg" @click="$router.push('/schedule')"><i class="fa fa-arrow-left fa-2x"></i></BaseButton>
        <BaseButton class="btn-default btn-lg" @click="alert('Share/ Print Dialog')"><i class="fa fa-share-square fa-2x"></i></BaseButton>
      </div>
    </nav>
  </Layout>
</template>

<style lang="scss" module>
@import '@design';
</style>

