<template>
  <Layout>
    <div class="row">
      <div class="col-6 offset-3 mt-5">
        <span class="text-muted center">PWA App Prototype</span>
        <a href="/"><img class="logo" src="@assets/images/logo.svg" alt="Logo" /></a>
      </div>
    </div>
    <div class="card card-travel">
      <ResponsiveImage img-class="card-img-top"
                       :alt="$parent.reise.name"
                       :src-xs="$parent.reise.bilder[0].filenames.hauptbild_header_sm"
                       fixed-aspect-ratio="true"/>
      <div class="card-body">
        <RequirementRating rating="2"/>
        <h1>{{ $parent.reise.name }}</h1>
        <p>{{ $parent.buchung.abreisedatum | toDateString }} - {{ $parent.buchung.rueckreisedatum | toDateString }}</p>
        <p>{{ $parent.buchung.kunde }}</p>
      </div>
    </div>

    <div v-if="nextEvent !== null" class="card bg-light mt-5 mb-5">
      <div class="card-body">
        <h4 class="card-title">Nächstes Ereignis:</h4>
        <div class="card mb-2">
          <FlightBox class="" :date="nextEventDate" :flights="$parent.buchung.fluege"/>
        </div>
        <div class="card">
          <p>{{ nextEvent.datum | toDateString }}</p>
          <p>{{ nextEvent.titel }}</p>
        </div>
      </div>
    </div>
    <div class="d-grid gap-2">
      <BaseButton class="btn-primary btn-lg" @click="$router.push('schedule')">Meine Reise</BaseButton>
      <BaseButton class="btn-primary btn-lg" @click="$router.push('infos')">weitere Informationen</BaseButton>
    </div>
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <div class="container-fluid">
        <div class="d-grid gap-2 w-100">
          <BaseButton class="btn-secondary btn-block btn-lg" @click="$router.push('notifications')"><i class="fa fa-exclamation fa-3x"></i><span class="badge bg-primary">3</span></BaseButton>
        </div>
      </div>
    </nav>
  </Layout>
</template>

<script>
import appConfig from '@src/app.config'
import Layout from '@layouts/main.vue'
import BaseButton from "@components/_base-button.vue"
import FlightBox from "@components/flight-box.vue";
import RequirementRating from "@components/_requirement-rating.vue"
import ResponsiveImage from "@components/_responsive-image.vue";
import moment from 'moment'

export default {
  page: {
    title: 'Home',
    meta: [{name: 'description', content: appConfig.description}],
  },
  components: {ResponsiveImage, RequirementRating, FlightBox, BaseButton, Layout},
  filters: {
    toDateString: function (value) {
      return moment(value).format('DD.MM.YYYY')
    }
  },
  computed: {
    nextEventDate: function() {
      return this.nextEvent.datum;
    },
    nextEvent: function () {
      var next = this.$parent.buchung.programm.find(function(e){
        return moment(e.datum) >= moment(Date.now());
      });
      return next;
    }
  },
  mounted: function() {

  }
}
</script>

<style lang="scss" module>
@import '@design';
</style>