<script>
import Layout from '@layouts/main.vue'

export default {
  page: {
    title: 'Infos',
    meta: [{ name: 'description', content: 'The Infos page.' }],
  },
  components: { Layout }
}
</script>

<template>
  <Layout>
    <div class="header-icon-wrapper">
      <i class="icon icon-info large header-icon"></i>
    </div>
    <div v-if="!$route.params.topic">
      <div class="d-grid gap-2">
        <BaseButton v-bind:key="index" v-for="(ri, index) in $parent.reiseinfos" class="btn-primary" @click="$router.push('infos/' + ri.handle)">{{ ri.title }}</BaseButton>
      </div>
    </div>
    <div v-else>
      <h2>{{ $parent.reiseinfos[$route.params.topic].title }}</h2>
      <div v-html="$parent.reiseinfos[$route.params.topic].content"></div>
    </div>

    <nav class="navbar fixed-bottom navbar-light bg-light">
      <div class="container-fluid">
        <BaseButton v-if="!$route.params.topic" class="btn-default btn-lg" @click="$router.push('/')"><i class="fa fa-arrow-left fa-2x"></i></BaseButton>
        <BaseButton v-else class="btn-default btn-lg" @click="$router.push('/infos')"><i class="fa fa-arrow-left fa-2x"></i></BaseButton>
        <BaseButton class="btn-default btn-lg" @click="alert('Share/ Print Dialog')"><i class="fa fa-share-square fa-2x"></i></BaseButton>
      </div>
    </nav>
  </Layout>
</template>

<style lang="scss" module>
@import '@design';
</style>

