<script>
import Layout from '@layouts/main.vue'

export default {
  page: {
    title: 'Notifications',
    meta: [{ name: 'description', content: 'The Notifications page.' }],
  },
  components: { Layout }
}
</script>

<template>
  <Layout>
    <div class="header-icon-wrapper">
      <i class="icon icon-flight large header-icon"></i>
    </div>

    <div class="card bg-light mt-2">
      <div class="card-body">
        <h5 class="card-title">Zeitänderung Hinflug</h5>
        <p>Die Flugzeit des Hinfluges hat sich geändert.... <a href="" @click="$router.push('/flight/' + 0)">Details zur neuen Flugzeit</a></p>

      </div>
    </div>

    <div class="card bg-light mt-2">
      <div class="card-body">
        <h5 class="card-title">Reisepass</h5>
        <p>Bittes stellen Sie sicher, dass Sie alle notwendigen Reise-Dokumente zum Reisebeginn bei sich haben.</p>
      </div>
    </div>

    <div class="card bg-light mt-2">
      <div class="card-body">
        <h5 class="card-title">Versicherungskarte</h5>
        <p>Nicht zu vergessen ist die Versicherungskarte, welche Sie jederzeit bei sich haben sollten. In Versicherungsfällen ist die Versicherung direkt zu kontaktieren.</p>
      </div>
    </div>

    <nav class="navbar fixed-bottom navbar-light bg-light">
      <div class="container-fluid">
        <BaseButton class="btn-default btn-lg" @click="$router.push('/schedule')"><i class="fa fa-arrow-left fa-2x"></i></BaseButton>
        <BaseButton class="btn-default btn-lg" @click="alert('Share/ Print Dialog')"><i class="fa fa-share-square fa-2x"></i></BaseButton>
      </div>
    </nav>
  </Layout>
</template>

<style lang="scss" module>
@import '@design';

</style>

