<script>
import Layout from '@layouts/main.vue'
import ServicesIcons from "@components/services-icons.vue";

export default {
  page: {
    title: 'Schedule',
    meta: [{name: 'description', content: 'The Schedule page.'}]
  },
  components: {ServicesIcons, Layout},
  methods: {

  }
}
</script>

<template>
  <Layout>
    <div class="header-icon-wrapper">
      <i class="icon icon-calendar large header-icon"></i>
    </div>
    <div>
      <div v-bind:key="index" v-for="(prg, index) in $parent.buchung.programm" class="card bg-light mt-2">
        <div class="card-body">
          <h5 class="card-title">{{ prg.titel }} <span class="text-muted small">{{ prg.datum }}</span></h5>
          <p>{{ prg.beschreibung }}</p>
          <ServicesIcons :date="prg.datum" :booking="$parent.buchung" />
        </div>
      </div>
    </div>
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <div class="container-fluid">
        <BaseButton class="btn-default btn-lg" @click="$router.push('/')"><i class="fa fa-arrow-left fa-2x"></i></BaseButton>
        <BaseButton class="btn-default btn-lg"><i class="fa fa-share-square fa-2x"></i></BaseButton>
      </div>
    </nav>
  </Layout>
</template>

<style lang="scss" module>
@import '@design';
</style>

