<script>
import Layout from '@layouts/main.vue'
import moment from "moment";

export default {
  page: {
    title: 'Train',
    meta: [{ name: 'description', content: 'The Train page.' }],
  },
  components: { Layout },
  filters: {
    toDateString: function (value) {
      return moment(value).format('dd DD.MM.YYYY')
    }
  },
  computed: {
    zug: function() {
      return this.$parent.buchung.zuege[this.$route.params.index];
    }
  }
}
</script>

<template>
  <Layout>
    <div class="header-icon-wrapper">
      <i class="icon icon-train large header-icon"></i>
    </div>

    <p class="text-center"><b>{{ zug.abfahrt | toDateString }}</b></p>

    <nav class="navbar fixed-bottom navbar-light bg-light">
      <div class="container-fluid">
        <BaseButton class="btn-default btn-lg" @click="$router.push('/schedule')"><i class="fa fa-arrow-left fa-2x"></i></BaseButton>
        <BaseButton class="btn-default btn-lg" @click="alert('Share/ Print Dialog')"><i class="fa fa-share-square fa-2x"></i></BaseButton>
      </div>
    </nav>
  </Layout>
</template>

<style lang="scss" module>
@import '@design';
</style>

