.btn.btn-primary {
  color: $color-button-text;
  cursor: pointer;
  background: $color-button-bg;
  border: none;
}

.btn.btn-secondary {
  color: black;
  cursor: pointer;
  background: $brand-secondary;
  border: none;
}

.btn.btn-default {
  color: $brand-primary;
  cursor: pointer;
  background: transparent;
  border: none;
}

.btn .badge.bg-primary {
  background: $color-button-bg !important;
  top: -20px;
  margin-left: 10px;
}