$brand-primary: #123975;
$brand-secondary: #ffed00;
$gray: #b2b2b1;
$gray-base: #000;
$gray-light: lighten($gray-base, 46.7%);

// CONTENT
$color-body-bg: #f9f7f5;
$color-text: #444;
$color-heading-text: #35495e;

// LINKS
$color-link-text: $brand-primary;
$color-link-text-active: $color-text;

// INPUTS
$color-input-border: lighten($color-heading-text, 50%);

// BUTTONS
$color-button-bg: $color-link-text;
$color-button-disabled-bg: darken(desaturate($color-button-bg, 20%), 10%);
$color-button-text: white;

// ICONS
$color-icons: $brand-primary;
$color-icon-bg: white;
