$system-default-font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI',
  'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';

$heading-font-family: $system-default-font-family;
$heading-font-weight: 600;

$content-font-family: $system-default-font-family;
$content-font-weight: 400;

%font-heading {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  color: $color-heading-text;
}

%font-content {
  font-family: $content-font-family;
  font-weight: $content-font-weight;
  color: $color-text;
}

@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=d3fd53ff-eb94-4a24-9423-1ef189356b8a");
@font-face{
  font-family:"Univers LT";
  font-display: swap;
  src:url("/fonts/9fa24f1f-00d8-4d28-910f-78e925eaead6.woff2") format("woff2"),
  url("/fonts/d64e7bbc-e9ea-46ad-982c-6195ae4a3c61.woff") format("woff"),
  url("/fonts/d270a34d-b6b8-4c07-8454-03a6a3db7603.ttf") format("truetype"),
  url("/fonts/a91ff084-fc8b-43f4-b0ea-111254b68524.eot?#iefix") format("eot"),
  url("/fonts/b2ea19ff-0237-4d94-a107-eaa12af161ef.svg#b2ea19ff-0237-4d94-a107-eaa12af161ef") format("svg");
  font-style: normal;
}
@font-face{
  font-family:"Univers LT";
  font-display: swap;
  src:url("/fonts/aeb5cbb5-2077-4a57-88d8-1cc1e9c804e8.woff2") format("woff2"),
  url("/fonts/26832c6c-7609-41a6-b856-151be500486b.woff") format("woff"),
  url("/fonts/c78521a7-2342-410a-a275-e6d35b853313.ttf") format("truetype"),
  url("/fonts/2f2779cd-9c70-4724-b9b0-c88961257db4.eot?#iefix") format("eot"),
  url("/fonts/71e4ab52-329c-40d2-89e8-d5cf99d699a5.svg#71e4ab52-329c-40d2-89e8-d5cf99d699a5") format("svg");
  font-style: oblique;
}
@font-face{
  font-family:"Univers LT";
  font-display: swap;
  src:url("/fonts/8a711a0d-3f17-4bfe-887b-6229858332b3.woff2") format("woff2"),
  url("/fonts/05a79c4b-9e9d-46e4-9d4b-610be05371c4.woff") format("woff"),
  url("/fonts/4e00405b-a96d-4972-bdff-2d55e1066c45.ttf") format("truetype"),
  url("/fonts/38dc895e-c366-4a3e-b212-a84a2d07a329.eot?#iefix") format("eot"),
  url("/fonts/1e2c0a36-e8bb-4e3b-a4ca-dec00221c06e.svg#1e2c0a36-e8bb-4e3b-a4ca-dec00221c06e") format("svg");
  font-weight: bold;
}
@font-face{
  font-family:"Vesta Medium";
  font-display: swap;
  src:url("/fonts/11f5bcdb-b6dd-4a2f-ba93-5d1ac3e796cc.woff2") format("woff2"),
  url("/fonts/3895ae47-45bc-4465-bbb1-bbdb3059720c.woff") format("woff"),
  url("/fonts/baa0472d-ef6e-428a-abec-873c338c0240.ttf") format("truetype"),
  url("/fonts/312c932f-3126-4ad9-a8ae-d1ddf1de714a.eot?#iefix") format("eot"),
  url("/fonts/f52530a8-e58a-493b-902a-aa6513e49238.svg#f52530a8-e58a-493b-902a-aa6513e49238") format("svg");
}
@font-face {
  font-family: "Twerenbold Icon";
  font-display: block;
  src: url("/fonts/twerenbold-icon-font-webfont.woff") format("woff"),url("/fonts/twerenbold-icon-font.otf") format("opentype");
}
body, html {
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;
  overflow-x: hidden;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: 'Univers LT';
  scroll-behavior: smooth;
  scroll-padding: 300px 0 0 0;
}

h3, h4, h5 {
  font-weight: bold;
}