i.icon{
  display: inline-block;
  font-family: "Twerenbold Icon";
  font-size: inherit;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 38px;
  height: 38px;
  &:before {
    font-size: 38px;
    position: absolute;
    width: 38px;
    height: 38px;
    display: table-cell;
    text-align:center;
    vertical-align: middle;
    margin-top: 12px;
    color: $color-icons;
  }
  // make a secondary circle in the background
  &.circle {
    background-color: $color-icon-bg;
    border-radius: 50%;
    &:before {
      color: #fff;
    }
  }
  // make it align with text for inline usage
  &.inline {
    width: 16px;
    height: 16px;
    font-size: 16px;
    &:before {
      line-height: 1;
      margin-top: 1px;
      font-size: 16px;
      width: 16px;
      height: 16px;
    }
  }
  // make it very small
  &.very-small {
    width: 18px;
    height: 18px;
    &:before {
      width: 18px;
      height: 18px;
      font-size: 17px;
      margin-top: 0;
    }
  }
  // make it small
  &.small {
    width: 24px;
    height: 24px;
    &:before {
      width: 24px;
      height: 24px;
      font-size: 23px;
      margin-top:-4px;
    }
  }
  // make it a bit larger than default
  &.medium {
    width: 50px;
    height: 50px;
    &:before {
      width: 50px;
      height: 50px;
      font-size: 50px;
    }
    // make it align with text for inline usage
    &.inline {
      &:before {
        line-height: 1;
        margin-top: 17px;
      }
    }
  }
  // make it large
  &.large {
    width: 80px;
    height: 80px;
    &:before {
      width: 80px;
      height: 80px;
      font-size: 80px;
      margin-top: 30px;
    }
  }
  // use a black box as background and a white icon
  &.blackBG {
    &:before {
      background-color: #000;
      color: #fff;
    }
  }

  /**
  *   Individual Icons:
  */
  // Positioning/ Test Symbol
  &.icon-test {
    &:before {
      content:"\e000";
    }
  }

  &.icon-angle-left {
    &:before {
      content:"\e103";
    }
  }
  &.icon-arrow-left {
    &:before {
      content:"\e105";
    }
  }
  &.icon-wanderer-large {
    &:before {
      content:"\e211";
    }
  }
  &.icon-wanderer-large-half {
    &:before {
      content:"\e212";
    }
  }
  &.icon-flight {
    &:before {
      content:"\e002";
    }
  }
  &.icon-flight-start {
    &:before {
      content:"\e002";
      transform: rotate(25deg)
    }
  }
  &.icon-flight-land {
    &:before {
      content:"\e002";
      transform: rotate(-25deg)
    }
  }
  &.icon-bus {
    &:before {
      content:"\e001";
    }
  }
  &.icon-train {
    &:before {
      content:"\e067";
    }
  }
  &.icon-ship {
    &:before {
      content:"\e006";
    }
  }
  &.icon-hotel {
    &:before {
      content:"\e038";
    }
  }
  &.icon-calendar {
    &:before {
      content:"\e209";
    }
  }
  &.icon-info {
    &:before {
      content:"\e029";
    }
  }
  &.icon-notify {
    &:before {
      content:"\e065";
    }
  }
  // Positioning for different overlaying behaviour
  &.icon-overlay-right {
    position: absolute;
    right: 22px;
    top: 7px;
  }
  &.icon-overlay-left {
    position: absolute;
    left: 22px;
    top: 7px;
  }
  &.icon-overlay-center {
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    background-color: $color-icons;
  }
}