/**
   * Hikers for Travel Difficulty Ratings
   */
.requirement-rating-wrapper{
  margin: 30px 0;
}
.requirement-rating {
  .icon {
    width: 17px;
  }
  .requirement-rating-icons .icon:before {
    margin-left: -9px;
    color: $gray-light;
  }
  .requirement-rating-icons-overlay{
    position: relative;
    margin-left: -9px;
    margin-top: -43px;
    .icon:before {
      color: #000;
    }
  }
}
.travel-group-rating {
  span {
    padding-top: 5px;
    display: inline-block;
  }
}