
div.card.card-travel {
  border-top: solid 2px $brand-primary;
  border-left: solid 1px $gray;
  border-right: solid 1px $gray;
  border-bottom: 0px;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-flex-direction: column; /* Safari 6.1+ */
  flex-direction: column; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-wrap: wrap;
  flex: 1 0 auto;
  width: 100%;

  > a {
    border: none;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-flex-direction: column; /* Safari 6.1+ */
    flex-direction: column; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-wrap: wrap;
    flex: 1 0 auto;
    width: 100%;
  }

  .country-wrapper.im {
    margin-right: 68px;
  }

  .country {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .reiseleitung {
    font-weight: bold;
  }

  .card-body {
    h1 {
      margin: 0;
    }
  }

  .requirement-rating {
    position: absolute;
    right: 15px;
    margin-top: 10px;
  }

  .panel-image {
    overflow: hidden;
    @media(min-width: 576px) {
      height: 154px;
    }
    @media(min-width: 768px) {
      height: 132px;
    }
    @media(min-width: 992px) {
      height: 164px;
    }
  }
}